body {
	background-image: url("../images/background.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
}

.navbar {
  overflow: hidden;
  background-color: transparent;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

/* Links inside the navbar */
.navbar #links a {
  float: right;
  display: flex;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: Raleway, "Raleway Thin";
  font-weight: bold;
  padding-right: 2%;
}

/* Change background on mouse-over */
.navbar #links a:hover {
  font-style: italic;
  border-bottom: 3px solid black;
}

.navbar #pic {
	float: left;
}

main {
	display: block;
}

main p {
	font-family: Raleway, "Raleway Thin";
	font-size: 1.5em;
	text-align: center;
	margin-right: 10%;
	margin-left: 10%;
}

h1 {
	margin-top: 4em;
	text-align: center;
	font-weight: bold;
	font-size: 3.5em;
	font-family: Raleway, "Raleway Thin";
}

#button1 .btn {
	display: block;
	border-radius: 4px;
	background-color: transparent;
	border-color: #000000;
	padding: 14px 28px;
	font-size: 16px;
	cursor: pointer;
	font-family: Raleway, "Raleway Thin";
	margin-left: 42%;
	margin-right: 40%;
	margin-top: 5%;
}

#buttonChoose:hover {
	background-color: #FFFFFF;
	color: #000000;
}

#buttonChoose {
	display: inline;
	border-radius: 4px;
	background-color: #000000;
	border-color: #000000;
	color: #FFFFFF;
	padding: 14px 28px;
	font-size: 16px;
	cursor: pointer;
	font-family: Raleway, "Raleway Thin";
	margin-bottom: 5%;
	margin-right: 5%;
}

#button1 .btn:hover {
	background-color: #000000;
	color: #FFFFFF;
}

#buttonApp:hover {
	background-color: #FFFFFF;
	color: #000000;
}

#buttonApp {
	display: inline;
	border-radius: 4px;
	background-color: #000000;
	border-color: #000000;
	padding: 14px 28px;
	font-size: 16px;
	cursor: pointer;
	font-family: Raleway, "Raleway Thin";
	margin-bottom: 5%;
	margin-top: 2%;
	color: #FFFFFF;
}

.buttons {
	text-align: center;
}

#portfolio {
	margin-top: 250px;
	width: 100%;
	background-color: #FFFFFF;
}

#portfolio h1 {
	padding-top: 2em;
	text-align: center;
	font-size: 2.5em;
	font-family: Raleway, "Raleway Thin";
}

#jj {
	padding-left: 27%;
	padding-bottom: 7%;
}

#portfolio hr {
	width: 10%;
}

#portfolio p {
	margin-top: 3%;
}

#portfolio h2 {
	padding-top: 1em;
	text-align: center;
	font-size: 1.5em;
	font-family: Raleway, "Raleway Thin";
}

#internship {
	margin-top: 5%;
	width: 100%;
	background-color: #FFFFFF;
}

#internship h3 {
	padding-top: 2em;
	text-align: center;
	font-size: 2em;
	font-family: Raleway, "Raleway Thin";
}

#internship p {
	padding-bottom: 2em;
	padding-top: 2em;
}

#bank {
	margin-top: 5%;
	width: 100%;
	background-color: #FFFFFF;
}

#bank h2 {
	padding-top: 2em;
	text-align: center;
	font-size: 2em;
	font-family: Raleway, "Raleway Thin";
}

#bank p {
	padding-bottom: 2em;
	padding-top: 2em;
}

#camp {
	margin-top: 5%;
	width: 100%;
	background-color: #FFFFFF;
}

#camp h2 {
	padding-top: 2em;
	text-align: center;
	font-size: 2em;
	font-family: Raleway, "Raleway Thin";
}

#camp p {
	padding-bottom: 2em;
	padding-top: 2em;
}

#recipe h2 {
	padding-top: 2em;
	text-align: center;
	font-size: 2em;
	font-family: Raleway, "Raleway Thin";
}

#recipe p {
	padding-bottom: 2em;
	padding-top: 2em;
}

#jjSwap h2 {
	padding-top: 2em;
	text-align: center;
	font-size: 2em;
	font-family: Raleway, "Raleway Thin";
}

#jjSwap p {
	padding-bottom: 2em;
	padding-top: 2em;
}

#intern {
	padding-left: 25%;
	padding-bottom: 4em;
}

#portfolio h3 {
	padding-top: 2em;
	text-align: center;
	font-size: 1.5em;
	font-family: Raleway, "Raleway Thin";
}

#portfolio h4 {
	padding-top: 2em;
	text-align: center;
	font-size: 1.5em;
	font-family: Raleway, "Raleway Thin";
}

.row {
	padding-left: 7%;
}

.column {
  float: left;
  width: 30%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.row2 {
	padding-left: 12%;
	padding-bottom: 5%;
}

.column2 {
  float: left;
  width: 42%;
  padding: 5px;
}

/* Clear floats after image containers */
.row2::after {
  content: "";
  clear: both;
  display: table;
}

#code {
	padding-left: 25%;
	padding-bottom: 2%;
}

#camphome {
	padding-left: 25%;
	padding-bottom: 2%;
	height: 600px;
}

#campcode {
	padding-left: 25%;
	padding-bottom: 2%;
}

#skills h1 {
	text-align: center;
	font-size: 2.5em;
	font-family: Raleway, "Raleway Thin";
}

#skills ul {
	font-size: 1.5em;
	font-family: Raleway, "Raleway Thin";
	font-weight: normal;
	list-style: none;
}

#list1 {
	margin-left: 33%;
}

#list2 {
	margin-left: 5%;
}


#about {
	background-image: url("../images/aboutme.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100% 100%;
}

#about h1 {
	padding-top: 4em;
	text-align: center;
	font-size: 2.5em;
	font-family: Raleway, "Raleway Thin";
}

#about p {
	padding-top: 1em;
	padding-bottom: 7em;
}

#contact .btn {
	border-radius: 4px;
	background-color: transparent;
	border-color: #000000;
	padding: 14px 28px;
	font-size: 16px;
	cursor: pointer;
	font-family: Raleway, "Raleway Thin";
	display: block;
	text-align: center;
	margin-left: 44%;
	margin-right: 40%;
	margin-top: 3%;
	margin-bottom: 4%;
}

#contact .btn a {
	text-decoration: none;
	color: #000000;
}

#contact h1 {
	margin-top: 9%;
}

footer {
	width: 100%;
	float: left;
	text-align: center;
	font-family: Raleway, "Raleway Thin";
	color: #000000;
	margin-bottom: 4%;
}

footer a {
	text-decoration: none;
}

footer a:visited {
	text-decoration: none;
	color: #000000;
}
